*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background:#FFFDD0;
}

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #097969;
    position: relative;
    height: 70px;
}

.logo{
    color: #fff;
    display: flex;
}
.logo img{
  width: 50px;
  height: 50px;
} 
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}

@media (max-width:600px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #097969;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}

/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    
}

header {
    background: #fff;
    padding: 20px;
    text-align: center;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    background: #fff;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 30%;
}

.product img {
    width: 100%;
    height: auto;
}

.product .buy-button {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.product .buy-button:hover {
    background-color: #45a049;
}

.footer {
    background-color:#097969;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    width: 30%;
  }
  
  .footer-section h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footer-section p {
    margin-bottom: 10px;
  }
  
  .footer-links li {
    list-style: none;
  }
  
  .footer-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-links li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .copyright {
    text-align: center;
    margin-top: 20px;
  }
  
  .copyright p {
    font-size: 14px;
  }
  